@import url('https://fonts.googleapis.com/css?family=Livvic|Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Heebo|Play|Righteous|Signika&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
.husky-fonts
{
  font-family: 'Livvic';
  font-family: 'Ubuntu';
  font-family: 'Fjalla One';
  font-family: 'Heebo';
  font-family: 'Righteous';
  font-family: 'Signika';
  font-family: 'Play';
  font-family: 'Lexend Deca';
  font-family: 'Times New Roman', Times, serif;
}

main {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}



.auto-margin
{
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

footer
{
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 11px;
    padding:10px 30px;
    z-index: 10000;
}

.clickable{
    cursor: pointer;   
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}


.simulador-inserir-img-selected
{
 cursor: pointer;
 background-color: red; 
}

.paginacao_pagina
{
  cursor:pointer;
}
/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
  cursor:pointer;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

html, body {
  margin: 0;
  height: 100%;
}

@media screen and (max-width: 900px)
{
  main
  {
    padding:0px;
  }
  footer
  {
    margin-top:10px;
    
  }
}

.husky-card
{
  background-color: #fff;
  margin: 10px 3px;
  box-shadow: 0px 3px 6px rgba(0,0,0,.8);
  background-image: url("/images/bg_login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3px;
  color: #2E3034;
  
}
.husky-card-container{
  width: 100%;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 5px 20px;
  margin: 0 auto;
  border-radius: 2px;
  padding-bottom: 30px;
}

.husky-card-title
{
  margin:10px 0px;
  text-align:left;
  font-family: 'Lexend Deca', sans-serif;
  font-size:25px;
  margin-bottom: 20px;
}

.husky-card-metric
{
  text-align:left;
  font-family: 'Play', sans-serif;
  font-size: 40px;
  margin-left:25px;
}

.husky-aside
{
  width: 15%;
  max-width: 200px;
  height: 100%;
	background: white;
  white-space: nowrap; 
  transition: width 0.5s ;
  position: static;
  z-index: 9999; 
  float:left;
  box-shadow: 3px 0px 5px rgba(0, 0, 0, .5);
  padding: 15px;
  
}

.husky-aside-name
{
  font-family: 'Lexend Deca';
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.husky-aside-name_message
{
  color: grey;
  font-size: 17px;
}
.husky-aside-name_user
{
  color: #000;
  font-size: 30px;
}

.husky-aside-menu
{
  width:100%
}

.husky-aside-menu-item
{
  background: rgb(23,45,138);
  background: linear-gradient(90deg, rgba(23,45,138,1) 0%, rgba(86,105,213,1) 100%);
  width:90%;
}
.husky-aside-menu-item_icon
{
  width:30px;
  color:white;
}
.husky-aside-menu-item_text
{
  color:white;
}