nav(style="background-color:#00299e").navbar.navbar-default.navbar-fixed-top
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false").navbar-toggle.collapsed
        span.sr-only Toggle navigation

        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="/").navbar-brand
        img(alt="UFSM", src="/images/ufsmLogo.png" width="20px")

    // Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      ul.nav.navbar-nav
        li
          a(href ="/") Página Inicial
        li
          a(href="/topicos") Tópicos
        li
          a(href="/energia") Energia
        li
          a(href="/simulador") Simulador Residencial
        li
          a(href="/log") Log        