doctype html
html
  head
    meta(charset = "UTF-8")
    meta(name = "viewport", content = "width=device-width, initial-scale=1")
    meta(http-equiv = "X-UA-Compatible", content = "IE=edge")
    meta(http-equiv="Cache-Control," content="no-store")
    link(rel = "icon", href = "/images/ufsmLogo.png")
    title
      block tituloPagina
  body
    include navbar
    header.container.hidden-sm.hidden-xs
      .row
        img(src = "/images/bannerUFSM.png", style = "max-width:600px").img-responsive.auto-margin

    //O conteudo da página
    main
      block content
      include debugView

    footer
      .pull-right.hidden-xs
        b Versão:
          span#versao-atual  
      strong Copyright © 
        span#ano-atual
      |  UFSM. Todos os direitos reservados. 
    block posScripts


    
    
