doctype html
html
  head
    meta(charset = "UTF-8")
    meta(name = "viewport", content = "width=device-width, initial-scale=1")
    meta(http-equiv = "X-UA-Compatible", content = "IE=edge")
    meta(http-equiv="Cache-Control," content="no-store")
    link(rel = "icon", href = "/images/ufsmLogo.png")
    title Husky - Págnia Inicial
    //link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css', rel='stylesheet')
    //script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/fontawesome.min.js")    
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous")
  body.home
    .container-fluid.display-table
      .row.display-table-row
        #navigation.col-md-2.col-sm-1.hidden-xs.display-table-cell.v-align.box
          .logo
            a(hef='/')
              img.hidden-xs.hidden-sm(src='/images/logo_fox_white.png', alt='merkery_logo')
              img.visible-xs.visible-sm.circle-logo(src='/images/logo_fox_white.png', alt='merkery_logo')
          .navi
            ul
              li
                a(href='/')
                  i.fa.fa-file(aria-hidden='true')
                  span.hidden-xs.hidden-sm Resumo
              li
                a(href='#')
                  i.fa.fa-home(aria-hidden='true')
                  span.hidden-xs.hidden-sm Salas
              li.active
                a(href='sensores')
                  i.fa.fa-bar-chart(aria-hidden='true')
                  span.hidden-xs.hidden-sm Sensores
              li
                a(href='#')
                  i.fa.fa-plug(aria-hidden='true')
                  span.hidden-xs.hidden-sm Energia
              li.admin-only
                a(href='/usuarios')
                  i.fa.fa-user(aria-hidden='true')
                  span.hidden-xs.hidden-sm Usuários
              li
                a(href='#')#logout-link
                  i.fa.fa-sign-out(aria-hidden='true')
                  span.hidden-xs.hidden-sm Sair
        .col-md-10.col-sm-11.display-table-cell.v-align
          // <button type="button" class="slide-toggle">Slide Toggle</button>
          .user-dashboard
            canvas#canvas
    // Modal
    #add_project.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header.login-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Add Project
          .modal-body
            input(type='text', placeholder='Project Title', name='name')
            input(type='text', placeholder='Post of Post', name='mail')
            input(type='text', placeholder='Author', name='passsword')
            textarea(placeholder='Desicrption')
          .modal-footer
            button.cancel(type='button', data-dismiss='modal') Close
            button.add-project(type='button', data-dismiss='modal') Save
