doctype html
html
  head
    meta(charset = "UTF-8")
    meta(name = "viewport", content = "width=device-width, initial-scale=1")
    meta(http-equiv = "X-UA-Compatible", content = "IE=edge")
    meta(name = "author" content = "#{autor}")
    meta(http-equiv="Cache-Control," content="no-store")
    link(rel = "icon", href = "/images/ufsmLogo.png")
    title
      block tituloPagina

    //Bootstrap
    link(rel='stylesheet', href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href="/stylesheets/bootstrap-theme.min.css")

    //Font awesome e animate  
    link(rel="stylesheet", href="/stylesheets/fontawesome-all.min.css")
    link(rel="stylesheet", href="/stylesheets/animate.css")

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include ../includes/navbar
    header.container.hidden-sm.hidden-xs
      .row
        img(src = "/images/bannerUFSM.png", style = "max-width:600px").img-responsive.auto-margin

    //O conteudo da página
    main
      block content

      if(modoDebug == true)
        include ../includes/debugView

    footer
      .pull-right.hidden-xs
        b Versão: 
        =versao 
      strong Copyright © 
      =anoAtual
      |  UFSM. Todos os direitos reservados. 

    script(type="text/javascript", src = "/javascripts/jquery.js") 
    script(type="text/javascript", src = "/javascripts/bootstrap.min.js")
    script(type="text/javascript", src="/javascripts/bootstrap-notify.min.js")
    script(type="text/javascript", src = "/javascripts/notificacao.js")
    script(type="text/javascript", src="/javascripts/socket.io.js")
    script.
      $(function(){
        var path = window.location.pathname;
        $('nav li a[href="'+path+'"]').parents('li').addClass('active');
      });
      var socket = io.connect("!{enderecoIP}:!{ioPort}");
    block posScripts

    if(modoDebug == true)
      script(type="text/javascript", src = "/javascripts/debug.js")
        

    
    
