extends layouts/layoutBase

block tituloPagina
    | Energia

block content
    h1 Energia
    h3#energia-atual Energia produzida atualmente: 
        span.valor-energia 
    .container
        .row
            .col-md-offset-1.col-md-10
                h3.text-danger.text-center#aviso-canvas
                canvas#canvas
block posScripts
    script(src="javascripts/moment.min.js")
    script(src="javascripts/utils.js")
    script(src="javascripts/chart.min.js")
    script.

        function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++ ) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
        try
        {

        
        var color = Chart.helpers.color;
        var timeFormat = 'DD-MM-YYYY hh:mm:ss';
       
        var logSolar = JSON.parse('!{logSolar}');
        console.log(logSolar);
        var dataSets = new Array();
        var totalAgora = 0;
        for(var i = 0; i < logSolar.length; i++)
        {

            var thisdataset = new Array();
            for(var j = 0; j < logSolar[i].logs.length; j++)
            {
               var tempo = new Date(logSolar[i].logs[j].tempo);
                var tempoFormated = tempo.getDate() + "-" + tempo.getMonth() + "-" + tempo.getFullYear() + " " + tempo.getHours() + ":" + tempo.getMinutes() + ":" + tempo.getSeconds();
                thisdataset.push({x : tempoFormated, y : logSolar[i].logs[j].valor});
            }
            console.log(thisdataset);
            totalAgora += parseInt(logSolar[i].logs[j - 1].valor);
            var cor = getRandomColor();
            dataSets.push({
                    label: logSolar[i].id_painel,
                    backgroundColor: cor,
                    borderColor: cor,
                    lineTension: 0,
                    fill: false,
                                        
                    data: thisdataset,
                });
        }
         $("#energia-atual .valor-energia").html(totalAgora  + " W");

        var config = {
            type: 'line',
            data: {             
                datasets: dataSets
            },
            options: {
                title: {
                    text: 'Chart.js Time Scale'
                },
                                
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            format: timeFormat,
                            // round: 'day'
                            tooltipFormat: 'll HH:mm'
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Horário'
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Produção em W'
                        }
                    }]
                },
            }
        };
        window.onload = function() {
            var ctx = document.getElementById('canvas').getContext('2d');
            window.myLine = new Chart(ctx, config);
        };
        }
        catch(e)
        {
            $("#aviso-canvas").html("Nenhum dado coletado");
            console.log(e);
        }