extends layouts/layoutBase

block tituloPagina
    | Página Inicial

block content
    h1 Página Inicial
    h3 Dispositivos 
        i Conectados:

    #aviso-dispositivos
    div(style="display:none").table-responsive#tabela-dispositivos.tabela 
        table.table.table-striped
            thead
                tr
                    if(modoDebug == true)
                        th codigo
                    th Nome
                    th Estado
                    th Ação
                    th Configurações
            tbody
    
    h3 Dispositivos 
        i Desconectados:
    div(style="display:none").table-responsive#tabela-dispositivos-desco.tabela 
        table.table.table-striped
            thead
                tr
                    if(modoDebug == true)
                        th codigo
                    th Nome
                    th Excluir
                    th Configurações
            tbody

block posScripts
    script(src="javascripts/paginas/paginainicial.js")