extends layouts/layoutBase

block tituloPagina
    | Simulador Residencial

block content
    h1 Simulador Residencial (Não funcional)

   
    .container-fluid
        .row
            .col-md-6.col-sm-12
                h3 Paineis Solares
                .table-reponsive
                    table.table.table-bordered.table-striped
                        thead
                            tr
                                th Nome
                                th Potência máxima
                                th Cluster
                                th Ação
                        tbody#tbody-paineis
            
                form(onsubmit="return false", autocomplete="off")#form-adicionar-painel
                    .form-group
                        label(for="nome") Nome:
                        input(type="text", name="nome", placeholder = "Nome de sua preferência do painel solar", autocomplete="off", required).form-control#form-adicionar-painel-nome
                    .form-group
                        label(for="potencia") Potência máxima (W):
                        input(type="number", name="potencia",placeholder = "Energia máxima que o painel poderá produzir " , autocomplete="off", required).form-control#form-adicionar-painel-potencia
                    .form-group
                        label(for="potencia") Cluster:
                        select(name="cluster").form-control#form-adicionar-painel-cluster
                            option(value = "0") Nenhum
                    .row
                        .col-md-offset-3.col-md-6.col-sm-12.text-center
                            button(type="submit").btn.btn-primary.btn-block Adicionar Painel Solar
            
            .col-md-6.col-sm-12
                h3 Cluster Painel Solar
                .table-reponsive
                    table.table.table-bordered.table-striped
                        thead
                            tr
                                th Nome
                                th Ação
                        tbody#tbody-clusters
            
                form(onsubmit="return false", autocomplete="off")#form-adicionar-cluster
                    .form-group
                        label(for="nome") Nome:
                        input(type="text", name="nome", placeholder = "Nome de sua preferência do painel solar", autocomplete="off", required).form-control#form-adicionar-cluster-nome
                    .row
                        .col-md-offset-3.col-md-6.col-sm-12.text-center
                            button(type="submit").btn.btn-primary.btn-block Adicionar
        hr
        .row
            .col-md-6.col-sm-12
                h3 Baterias
                .table-reponsive
                    table.table.table-bordered.table-striped
                        thead
                            tr
                                th Nome
                                th Energia Máxima
                                th Ação
                        tbody#tbody-baterias
            
                form(onsubmit="return false", autocomplete="off")#form-adicionar-bateria
                    .form-group
                        label(for="nome") Nome:
                        input(type="text", name="nome", placeholder = "Nome de sua preferência do painel solar", autocomplete="off", required).form-control#form-adicionar-bateria-nome
                    .form-group
                        label(for="potencia") Energia máxima (W):
                        input(type="number", name="potencia", autocomplete="off", required).form-control#form-adicionar-bateria-potencia
                    .row
                        .col-md-offset-3.col-md-6.col-sm-12.text-center
                            button(type="submit").btn.btn-primary.btn-block Adicionar
block posScripts
    script(src="javascripts/paginas/simulador.js")
