extends layouts/layoutBase

block tituloPagina
    | Tópicos

block content
    h1 Tópicos

    #topicos-conteudo

block posScripts
    script.

        function GerarHTML(nodo)
        {   
            var retorno = "";
            for(var i = 0; i < nodo.length; i++)
            {
                retorno += '<div class="panel panel-primary"> <div class="panel-heading"> <h3 class="panel-title">'+nodo[i].topico+'</h3> <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-down" ></i></span> </div>';
                retorno += '<div class="panel-body" style = "display:none">';

                if(nodo[i].subtopicos.length > 0)
                    retorno += GerarHTML(nodo[i].subtopicos);
                /*retorno += '<ul class="nav nav-pills">';
                for(var j = 0; j < nodo[i].dispositivos.length; j++)
                {
                    retorno+= '<li role="presentation"><a href="#">'+nodo[i].dispositivos[j].nome+'</a></li>';
                }
                retorno += '</ul>';*/
                if(nodo[i].dispositivos.length > 0)
                {
                    retorno += '<table class = "table table-rounded"><thead><tr><th>Nome</th><th>Estado</th><th>Ação</th><th>Configurações</th></tr></thead><tbody>';
                    for(var j = 0; j < nodo[i].dispositivos.length; j++)
                    {
                        
                        var tqtd = ""; //Terceira e quarta td
                        if(nodo[i].dispositivos[j].estado == false)
                        {
                        tqtd = "<td class = 'text-warning'>Desligado <i class = 'fa fa-toggle-off'></i></td><td><button class = 'btn btn-success btn-sonoff-toggle' data-codigo = '"+nodo[i].dispositivos[j].codigo+"' data-sonoff-toggle-valor='1'> Ligar</button></td>";
                        }
                        else
                        {
                            tqtd = "<td class = 'text-success'>Ligado <i class = 'fa fa-toggle-on'></i></td><td><button class = 'btn btn-warning btn-sonoff-toggle' data-codigo = '"+nodo[i].dispositivos[j].codigo+"' data-sonoff-toggle-valor='0'> Desligar</button></td>";
                        }
                        retorno += "<tr><td>"+nodo[i].dispositivos[j].nome+"</td>"+tqtd+"<td><a class = 'btn btn-primary btn-conf-sonoff' href = 'configuracoes?codigo="+nodo[i].dispositivos[j].codigo+"'><i class = 'fa fa-cog' title = 'Configurar'></i></a></td></tr>";
                    }
                    retorno += '</tbody></table>';
                }
                
                retorno +='</div></div>';
                
            }
            return retorno;
            
        }

        
        var dispositivos = JSON.parse('!{dispositivos}');
        console.log(dispositivos);
        var topicos = new Array();
        for(var i = 0; i < dispositivos.length; i++)
        {
            for(var j = 0; j < dispositivos[i].topicos.length; j++)
            {
                var topico = dispositivos[i].topicos[j];
                var esta = false;
                for(var x = 0; x < topicos.length; x++)
                {
                    if(topicos[x].topico == topico)
                    {
                        esta = true;
                        break;
                    }
                }
                if(!esta)
                    topicos.push({topico : topico, subtopicos : [], filho : false, dispositivos: new Array()});
            }
        }

        for(var i = 0; i < topicos.length; i++)
        {
            
            for(var j = 0; j < dispositivos.length; j++)
            {
                var esta = false;
                for(var x = 0; x < dispositivos[j].topicos.length; x++)
                {
                    if(dispositivos[j].topicos[x] == topicos[i].topico)
                    {
                        topicos[i].dispositivos.push(dispositivos[j]);
                        break;
                    }
                }
            }
        }

        for(var i = 0; i < topicos.length; i++)
        {
           var n = topicos[i].topico.lastIndexOf("/");
           var res = topicos[i].topico.slice(0, n);
           for(var j = 0; j < topicos.length; j++)
           {
               if(topicos[j].topico == res)
               {
                   topicos[j].subtopicos.push(topicos[i]);
                   topicos[i].filho = true;
                   break;
               }
           }
        }

        var arvore = new Array();
        for(var i = 0; i < topicos.length; i++)
        {
            if(topicos[i].filho == false)
            {
                arvore.push(topicos[i]);
            }
        }

        console.log(arvore);

        var htmlString = '<div class = "container">';
        htmlString += GerarHTML(arvore);
        htmlString += '</div>';
        $("#topicos-conteudo").html(htmlString);

        $(document).on('click', '.panel-heading span.clickable', function(e){
            var $this = $(this);
            if(!$this.hasClass('panel-collapsed')) {
                $this.parent().next().slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                
            } else {
                $this.parent().next().slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
            }
            //var conteudo = $(this).parents('.panel').find('.panel-body');
            //console.log(conteudo.html());
            //conteudo.slideToggle();
        })