
body
{
    
    width:100%;
    height: 100%;
    background-color: #F1F5F9;
}



#login-container
{
    display: inline-block;
    background-color: white;
    padding-left:50px;
    padding-right:50px;
    border-radius: 20px;
    box-shadow: -4px 4px 3px rgba(0, 0, 0, .5);
    padding:10px 60px;
    font-family: 'Livvic';

}

#login-container h1
{
    font-family:  'Ubuntu';
    text-align: center;
    font-size: 45px;
    font-family: 'Signika', sans-serif;
}

#login-container hr
{
    border-width: 3px;
}

#login-container label
{
    font-size: 15px;
}

#input-user{
    padding-left: 30px;
    background-image: url('/images/avatar.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 6px 6px;
}

#input-password
{
    padding-left: 30px;
    background-image: url('/images/lock.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 6px 6px;
}
main
{
    margin-left: 10px;
}

.left{
	width: 50px;
	height: 100%;
	background: white;
    white-space: nowrap; 
    transition: width 0.5s ;
    position: fixed;
    z-index: 9999; 
    box-shadow: 3px 0px 5px rgba(0, 0, 0, .5);
    color:black;
}
.left ul{
    padding: 0;
    list-style-type: none;
    text-align: left;
}
.left li {
    width: auto;
    height: 60px;
    line-height: 50px;  
    padding-left: 18px;
}
.left li:hover {
    background: black;
}

.left:hover {
    width: 250px; 
}  

    .left .item-menu {
        height:50px;
        overflow:hidden;
        color:black;
    }  
.left a{
    color: black;
    text-decoration: none;
    font-weight: bold;
} 
span.menu{
    padding-left: 17px;
}
.t_search {
    color: black;
    height: 35px;
    margin-left: 15px;
    width: 190px
}
    
.glyphicon 
{
    color:red
}