doctype html
html
  head
    meta(charset = "UTF-8")
    meta(name = "viewport", content = "width=device-width, initial-scale=1")
    meta(http-equiv = "X-UA-Compatible", content = "IE=edge")
    meta(http-equiv="Cache-Control," content="no-store")
    link(rel = "icon", href = "/images/ufsmLogo.png")
    title Husky - Págnia Inicial
  body
    .left
      ul
        a(href='#')
          li.item-menu
            span.glyphicon.glyphicon-home
            span.menu Trang Chủ
        a(href='#')
          li.item-menu
            span.glyphicon.glyphicon-book
            span.menu Manga
        a(href='#')
          li.item-menu
            span.glyphicon.glyphicon-pencil
            span.menu Light Novel
        a(href='#')
          li.item-menu
            span.glyphicon.glyphicon-list
            span.menu Danh Sách
        a(href='#')
          li.item-menu
            span.glyphicon.glyphicon-envelope
            span.menu  Liên Hệ
        a(href='#')
          li.item-menu
            span.glyphicon.glyphicon-credit-card
            span.menu Ủng Hộ
        li.item-menu
          span.glyphicon.glyphicon-search
          input.t_search(type='text', placeholder='Tìm Kiếm')
    // end left
    .right
      | content

    main
        .container-fluid
            .row
              .col-md-6
                .row  
                  .col-md-5.col-sm-12.husky-card
                    .husky-card-container
                      h2.husky-card-title Consumo Hoje
                      span.husky-card-metric 4.3KW
                  .col-md-5.col-sm-12.husky-card
                    .husky-card-container
                      h2.husky-card-title Consumo Mês
                      span.husky-card-metric 200.2KW
                .row
                  .col-md-5.col-sm-12.husky-card
                    .husky-card-container
                      h2.husky-card-title Geração Hoje
                      span.husky-card-metric 4.3KW
                  .col-md-5.col-sm-12.husky-card
                    .husky-card-container
                      h2.husky-card-title Geração Mês
                      span.husky-card-metric 200.2KW



    footer
      .pull-right.hidden-xs
        b Versão:
          span#versao-atual  
      strong Copyright © 
        span#ano-atual
      |  UFSM. Todos os direitos reservados. 
    block posScripts