doctype html
html
  head
    meta(charset = "UTF-8")
    meta(name = "viewport", content = "width=device-width, initial-scale=1")
    meta(http-equiv = "X-UA-Compatible", content = "IE=edge")
    meta(http-equiv="Cache-Control," content="no-store")
    link(rel = "icon", href = "/images/ufsmLogo.png")
    title Husky - Págnia Inicial
  body
    aside.husky-aside
      img(src = "/images/logo_fox.png", style = "max-width:250px;width:100%").img-responsive.auto-margin
      .husky-aside-name
        span.husky-aside-name_message Olá
        br
        span.husky-aside-name_user Admin
      hr
      .husky-aside-menu
        .husky-aside-menu-item.husky-activated
          img(src="/images/analytics.svg").husky-aside-menu-item_icon
          span.husky-aside-menu-item_text Relatório Geral
        .husky-aside-menu-item
          img(src="/images/analytics.svg").husky-aside-menu-item_icon
          span.husky-aside-menu-item_text Relatório Geral
        .husky-aside-menu-item
          img(src="/images/analytics.svg").husky-aside-menu-item_icon
          span.husky-aside-menu-item_text Relatório Geral
    main
        .container-fluid
            .row
              .col-md-6
                .row  
                  .col-md-5.col-sm-12.husky-card
                    .husky-card-container
                      h2.husky-card-title Consumo Hoje
                      span.husky-card-metric 4.3KW
                  .col-md-5.col-sm-12.husky-card
                    .husky-card-container
                      h2.husky-card-title Consumo Mês
                      span.husky-card-metric 200.2KW
                .row
                  .col-md-5.col-sm-12.husky-card
                    .husky-card-container
                      h2.husky-card-title Geração Hoje
                      span.husky-card-metric 4.3KW
                  .col-md-5.col-sm-12.husky-card
                    .husky-card-container
                      h2.husky-card-title Geração Mês
                      span.husky-card-metric 200.2KW



    footer
      .pull-right.hidden-xs
        b Versão:
          span#versao-atual  
      strong Copyright © 
        span#ano-atual
      |  UFSM. Todos os direitos reservados. 
    block posScripts