extends ../../templates/layoutBase

block tituloPagina
    | Tópicos

block content
    h1 Tópicos
    #topicos-conteudo   

block posScripts
    script.
        window.dispinit = JSON.parse('!{dispositivos}');


        